<form id="edit-post" method="post" action="/posts">
  <label class="label" for="post[title]">Title</label>
  <input type="text" name="post[title]">
  <br>

  <label class="label" for="post[text]">Text</label>
  <input type="password" name="post[text]">
  <br>

  <div class="submit"><input type="submit" value="Create Post"></div>
</form>
