<div class="container">
  <h1>Sign In</h1>

  <form id="sign-in" method="post" action="/sign_in">
    <label class="label" for="email">Username</label>
    <input type="text" name="username"><br>
    <label class="label" for="password">Password</label>
    <input type="password" name="password">
    <br>
    <div class="submit"><input type="submit" value="Sign In"></div>
  </form>

</div>
