<div class="container">
  <h1>Sign Up</h1>

  <form id="sign-up" method="post" action="/users">
    <label class="label" for="name">Username</label>
    <input type="text" name="user[username]">
    <span id="name-errors" class="errors"></span>
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]">
    <span id="entered_password-errors" class="errors"></span>    
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
